<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>TaskManager</mat-card-title>
      <mat-card-subtitle>Sistema gerenciador de tarefas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/org.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao TaskManager desenvolvido por mim no para a empresa NL Informática. <br>
        Esse é um sistema para gerenciamento de tarefas simulando uma simples listagem de atividades desenvolvida em Angular e Spring Boot. <br>
         <br>
        O Projeto tem como objetivo principal apresentar a aplicar ALGUMA COISA, Autenticação e Autorização com Spring Security e muito mais.
        O Código fonte do projeto pode ser acessado através do link do Github no menu lateral. <br><br>

        Fique a vontade para testar o sistema e deixar sua sugestão. <br>
        Atenciosamente, Matheus Brito Biserra.
      </p>
    </mat-card-content>
   
  </mat-card>
