<div class="container">
    <mat-card class="conteudo">
        <mat-card-content></mat-card-content>
        <form class="form-create">
            <h1>Deletar tarefa</h1>
            <mat-form-field appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="tarefa.titulo" name="titulo" [disabled]="true">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <textarea matInput [(ngModel)]="tarefa.descricao" name="descricao" [disabled]="true"></textarea>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Informe a data</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input 
                  matStartDate placeholder="Inicio" 
                  matInput [(ngModel)]="tarefa.dataInicio" 
                  name="dataInicio"
                  [disabled]="true"
                  >
                  <input matEndDate placeholder="Fim" 
                  matInput [(ngModel)]="tarefa.dataTermino" 
                  name="dataTermino"
                  [disabled]="true"
                  >
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

              <button mat-button class="botao" (click)="delete()">Deletar</button>
              <button mat-button class="botao" routerLink="../../" >Cancelar</button>
            
            </form>
    </mat-card>
   
</div>
