<div class="conteudo-tarefas">
    <mat-card>
        <mat-card-content class="card-botoes">
            <button mat-button class="top-button" routerLink="todas">Todas</button>
            <button mat-button class="top-button" routerLink="abertas">Abertas</button>
            <button mat-button class="top-button" routerLink="fechadas">Fechadas</button>
            <button mat-button class="top-button" routerLink="criar">Add+</button>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>

</div>